p{
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
.destaco{
    color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}
h1{
    background-color: salmon;
    color: skyblue;
    text-align: center;
}
h2{
    color: teal;
}
h3{
    color:orangered;
}
li{
    color: orange;
}
