<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sint quam eligendi quae nihil temporibus minima hic optio illo distinctio! Dolores autem, tempora quaerat esse ea delectus quia explicabo sunt.</p>
<ul>
    <li>hola</li>
    <li>hola2</li>
</ul>