<main class="holder">
        <div class="homeimg">
            <img src="images/home/img01.jpg" alt="Avion">
        </div>
        <div class="columnas">
            <h2>Bienvenidos</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam nisi sequi deserunt tempore, dolorum ad
                aut itaque magni quas aliquam rem consectetur minus doloremque voluptatem vero sapiente. Repellendus,
                facilis maiores.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias quo nam excepturi, pariatur aspernatur ea
                ex, eum enim tempore minus iste culpa. Necessitatibus itaque praesentium fuga sit optio quis in?</p>
        </div>
        <div class="testimonios right gapbottom">
            <h2>Testimonios</h2>
            <div class="testimonio">
                <span class="cita">Simplemente Excelente</span>
                <span class="autor">Juan Perez - zapatos.com</span>
            </div>
        </div>
    </main>