<main class="holder">
        <h2>Novedades</h2>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque commodi tenetur suscipit, itaque totam debitis laboriosam expedita pariatur, explicabo sit cupiditate quas sequi possimus! Nostrum alias nulla odit animi pariatur.</p>
        </div>
        <hr/>
    </main>