<main class="holder paleta">
    <h2>Galeria</h2>
    <div class="galeria galeriaFlexContainer">
        {{#each productos}}
        <div class="foto" style="">
            <a href="/{{id}}"><img src="{{url}}" alt=""></a>
        </div>
        {{/each}}
    </div>
</main>