<main class="holder paleta">
    <div>
        <h2>Historia</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto repellat quia in. Porro, incidunt
            dolore nostrum sapiente accusantium corporis. Quasi est temporibus aliquid eveniet fuga non cumque
            earum, excepturi esse?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quia quam, quidem enim cupiditate possimus
            ipsam, doloribus, repudiandae provident nostrum quibusdam distinctio dolor magnam ullam hic atque
            repellendus at officiis.</p>
    </div>
    <div class="staff">
        <div class="personas">
            <div class="persona">
                <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                <h5>Juan Gomez</h5>
                <h6>Gerente General</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatum quidem ab! Laborum,
                    et. Accusantium incidunt exercitationem nulla porro, ut aliquid nisi ab sint soluta sed cumque
                    magni atque eum!</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros2.jpg" alt="Juan Gomez">
                <h5>Karen Gomez</h5>
                <h6>Gerente General</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatum quidem ab! Laborum,
                    et. Accusantium incidunt exercitationem nulla porro, ut aliquid nisi ab sint soluta sed cumque
                    magni atque eum!</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros3.jpg" alt="Juan Gomez">
                <h5>Carlos Juan</h5>
                <h6>Gerente General</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatum quidem ab! Laborum,
                    et. Accusantium incidunt exercitationem nulla porro, ut aliquid nisi ab sint soluta sed cumque
                    magni atque eum!</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros4.jpg" alt="Juan Gomez">
                <h5>Carla Gomez</h5>
                <h6>Gerente General</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatum quidem ab! Laborum,
                    et. Accusantium incidunt exercitationem nulla porro, ut aliquid nisi ab sint soluta sed cumque
                    magni atque eum!</p>
            </div>
            <div class="persona">
                <img src="images/nosotros/nosotros5.jpg" alt="Juan Gomez">
                <h5>Juan Carlos</h5>
                <h6>Gerente General</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatum quidem ab! Laborum,
                    et. Accusantium incidunt exercitationem nulla porro, ut aliquid nisi ab sint soluta sed cumque
                    magni atque eum!</p>
            </div>
        </div>
    </div>
</main>