<main class="holder paleta">
    <h2>Novedades</h2>
    {{#each novedades}}
    <div class="novedades">
        <h3>{{titulo}}</h3>
        <p>{{cuerpo}}</p>
     <hr/>
    </div>
    {{/each}}
</main>